<script context="module">
	export const load = async ({ page }) => ({
		props: {
			key: page.path
		}
	});
</script>

<script>
	import '../app.postcss';

	import Header from '$lib/components/Header.svelte';
	import Nav from '$lib/components/Nav.svelte';
	import UtlityBar from '$lib/components/UtlityBar.svelte';
	import Main from '$lib/components/Main.svelte';
	import Footer from '$lib/components/Footer.svelte';

	export let key;
</script>

<div
	class="layout pad-scroll-offset flex justify-center min-h-screen py-2 px-4 dark:bg-gray-950 dark:text-white overflow-hidden"
>
	<div class="w-full flex flex-col" style="max-width: 900px;">
		<UtlityBar />
		<Header />
		<Nav />
		<div class="page-holder"><Main refresh={key}><slot /></Main></div>
		<Footer />
	</div>
</div>

<style lang="scss">
	@media (min-width: 940px) {
		.pad-scroll-offset {
			padding-left: calc(100vw - 100%);
		}
	}

	.page-holder {
		display: grid;
		> :global(*) {
			grid-column: 1/2;
			grid-row: 1/2;
		}
	}
</style>
