<script>
	let submitted = false;

	async function submit(event) {
		try {
			const { who, why, body, email } = event.target.elements;
			const data = {
				who: who.value,
				why: why.value,
				body: body.value,
				email: email.value
			};

			await fetch('https://svhhqzfoazipfux.form.io/contact/submission', {
				method: 'POST',
				body: JSON.stringify({ data }),
				headers: {
					'Content-Type': 'application/json'
				}
			});

      submitted = true
		} catch (error) {
			console.error(error);
			alert(
				'Uh oh! Something went wrong when sending your message. You can try again, or contact a staff member via email.'
			);
		}
	}
</script>

<div class="flex gap-8 w-full">
	<form on:submit|preventDefault={submit} class="flex flex-col gap-2 w-full md:w-auto">
    <h1>Contact us</h1>
		{#if !submitted}
			<label for="who">Who are you?</label>
			<input type="text" name="who" required placeholder="..." />
			<label for="why">Why are you contacting us?</label>
			<select name="why" required>
				<option value="" selected disabled hidden>...</option>
				<option value="tip">tip or suggestion</option>
				<option value="join">join the club</option>
				<option value="interview">request an interview or story</option>
				<option value="ad">place an ad</option>
			</select>
			<textarea placeholder="Write your message here..." name="body" />
			<label for="email">What is your email? (if you want a response)</label>
			<input type="email" name="email" placeholder="..." />
			<button class="bg-gray-700 border-gray-900 text-white">Send&ensp;✉️</button>
		{:else}
			<div class="field bg-green-200 border-green-300">
        Success! We got your message.
      </div>
		{/if}
	</form>

	<div class="flex-col items-center justify-center hidden md:flex mx-auto">
		<div class="w-max flex flex-col gap-8">
			<span class="question">Got tips?</span>
			<span class="question ml-8">Want to join us?</span>
			<span class="question ml-16">Interested in an interview?</span>
			<span class="question ml-24">Inquiring to place an ad?</span>
		</div>
	</div>
</div>

<style lang="postcss">
	.question {
		@apply text-4xl italic font-light;
	}

	input,
	select,
	textarea {
		@apply bg-gray-200 border-gray-300;
	}

	input,
	select,
	textarea,
	button,
  .field {
		@apply py-1 px-2  border-2 rounded mb-2;
	}

	::placeholder {
		@apply text-gray-600;
	}
</style>
