<script context="module">
	import toArticleUrl from '$lib/toArticleUrl.js';
	import { meta } from '$lib/variables';

	export async function load({ page, fetch }) {
		try {
			const month = parseInt(page.params.month);
			const day = parseInt(page.params.day);
			const year = parseInt(page.params.year);

			const headline = page.params.headline;

			if (
				typeof month !== 'number' ||
				month > 12 ||
				month < 0 ||
				typeof day !== 'number' ||
				day > 31 ||
				day < 0 ||
				typeof year !== 'number'
			) {
				return {
					status: 404
				};
			}

			const date = new Date(2000 + year, month - 1, day);

			const article = await (
				await fetch(
					toArticleUrl({
						date,
						prefix: `${meta}/articles`,
						suffix: '.json',
						headline
					})
				)
			).json();

			article.date = new Date(article.date);

			return {
				props: { article }
			};
		} catch (error) {
			throw error;
		}
	}
</script>

<script>
	export let article;

	const description = `${article.drophead} | By ${
		article.byline
	} | ${article.date.toLocaleDateString('en', {
		weekday: 'long',
		year: 'numeric',
		month: 'long',
		day: 'numeric'
	})}`.replace(/"/g, '&quot;');
</script>

<svelte:head>
	<title>{article.headline} | Pasadena Chronicle</title>
	<meta property="description" content={description} />
	<meta property="og:title" content="{article.headline} | Pasadena Chronicle" />
	<meta property="og:description" content={description} />
	<meta property="twitter:description" content={description} />
	{#if article.image}
		<meta property="og:image" content={article.image} />
		<meta property="og:image:alt" content={article.caption} />
		<meta property="og:type" content="article" />
		<meta property="twitter:card" content="summary_large_image" />
	{/if}
</svelte:head>

<article class="flex flex-col gap-2">
	<h1 class="my-2 mt-6">
		{article.headline}
	</h1>

	<h2>
		{article.drophead}
	</h2>

	<h3 class="md:text-lg mt-4 -mb-4 text static">
		By {#each article.byline.split(', ') as person}<a
				sveltekit:prefetch
				href="/staff/{person.replace(' ', '-')}"
				class="hover:underline">{person}</a
			>{/each}<br />{article.date.toLocaleDateString('en', {
			weekday: 'long',
			year: 'numeric',
			month: 'long',
			day: 'numeric'
		})}
	</h3>

	{#if article.image}
		<figure class="rounded shadow-sm overflow-hidden my-8">
			<img src={article.image} alt={article.caption} class="w-full" />
			<figcaption>{article.caption}</figcaption>
		</figure>
	{:else}
		<div class="h-8" />
	{/if}

	<div class="body">
		{@html article.body}
	</div>
	<div class="flex gap-2 mb-4">
		{#each article.topics.split(', ') as topic}
			<a sveltekit:prefetch href="/topic/{topic}" class="px-2 py-1 bg-gray-600 dark:bg-gray-800 text-white rounded"
				>#{topic}</a
			>
		{/each}
	</div>
</article>

<style lang="postcss" global>
	.body {
		> * {
			@apply mb-4;
		}
		img {
			@apply w-full;
		}

		a {
      @apply text-lightBlue-800;
			&:hover {
				@apply underline;
			}
		}

		ul {
      @apply list-inside list-disc;
		}
		ol {
      @apply list-inside list-decimal;
		}
		ul ul,
		ol ul {
      @apply list-inside ml-4;
			list-style-type: circle;
		}
		ol ol,
		ul ol {
      @apply list-inside ml-4;
			list-style-type: lower-latin;
		}
	}

	article figcaption {
    @apply py-2 px-4 bg-gray-300 dark:bg-gray-800 italic;
	}
</style>
