<script>
	import toArticleUrl from '$lib/toArticleUrl.js';
	import RandomPattern from '$lib/components/RandomPattern.svelte';

	export let headline = '';
	export let drophead = '';
	export let date = new Date();
	export let byline = '';
	export let image = '';
	export let caption = '';

	const url = toArticleUrl({ date, headline });
</script>

<div class="wrapper flex gap-4">
	<a
		href={url}
		sveltekit:prefetch
		class="card-image shadow-sm hover:shadow-xl transition-shadow rounded"
    aria-label="Link to {headline} article"
	>
		{#if image}
			<img src={image} alt={caption || headline} class="card-image" />
		{:else}
			<div class="card-image">
				<RandomPattern seed={headline} />
			</div>
		{/if}
	</a>
	<div>
		<a href={url} sveltekit:prefetch>
			<span class="font-bold text-2xl sm:text-3xl block">
				{headline}
			</span>
			<span class="text-xl italic">{drophead}</span>
		</a>
		<p class="static">
			By {#each byline as person}<a
					sveltekit:prefetch
					href="/staff/{person.replace(' ', '-')}"
					class="hover:underline">{person}</a
				>{/each} | {date.toLocaleDateString('en', {
				weekday: 'long',
				year: 'numeric',
				month: 'long',
				day: 'numeric'
			})}
		</p>
	</div>
</div>

<style lang="scss">
	.card-image {
		object-fit: cover;
		max-width: 20rem;
		min-width: 20rem;
		height: 12rem;
		overflow: hidden;

		@media (max-width: 600px) {
			max-width: 8rem;
			min-width: 8rem;
			height: 8rem;
		}
	}

	@media (max-width: 400px) {
		.wrapper {
			flex-direction: column;
			position: relative;

			&:nth-child(even)::before {
				content: ' ';
				width: 200%;
				height: calc(100% + 2rem);
				background-color: hsla(0, 0%, 0%, 0.1);
				position: absolute;
				top: -1rem;
				left: -50%;
				z-index: -1;
			}
		}

		.card-image {
			max-width: 100%;
			min-width: 100%;
			height: 12rem;
		}
	}
</style>
