<script>
	import { fly } from 'svelte/transition';
  export let refresh = ""
</script>

{#key refresh}
  <main transition:fly={{ y: 700, duration: 500 }}>
    <slot />
  </main>
{/key}

<style lang="scss">
</style>